spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:./data/dadoc-db;MODE=MYSQL
    username: sa
    password:


  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console
